/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
nav .brand-logo {
	font-size: 1.3rem;
}
img.avatar {
	height: 37px;
	background-color: white;
	float: right;
	margin: 12px 0 0 12px;
}
#nav-mobile img.avatar {
	margin: 5px 0 0 0;
}
#nav-mobile .divider {
	margin: 0;
}
.likes {
	font-size: 20px;
  font-weight: 400;
}
.card .card-content .card-title {
  font-size: 20px;
  font-weight: 400;
}
.card .card-action.right-align{
	padding: 16px 0px 16px 24px;
}

/* form colours */
	/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   .input-field input[type=email]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   .input-field input[type=email].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }